*{
    box-sizing: border-box;
}
.clear_fix{
    clear: both;
    content: "";
}
body{
	margin:0;
	padding: 0;
	background-color: #FFE6E5;
}
main{
    padding-top:100px;
}
section{
	background-image: url(placeholder.svg);
	background-size: contain;
	height:750px;
	width: 750px;
	background-repeat: no-repeat;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

}
nav{
	background-color: #FE8683;
	height:80px;
	width: 100%;
	text-align: center;
	font-size:72px;
	line-height:100px;
    font-family: "Savoye LET";
    position: fixed;
}
header{


}
.nav_icon{
    background-image: url(nav_icon.svg);
    height:50px;
    width:50px;
    margin-top: 20px;
    margin-left:20px;
    background-size:contain;
    background-repeat:no-repeat;
    float: left;
    position: fixed;
    z-index: 9999;
}

.circle_div{
    height:60px;
    width:60px;
    border-radius:60px;
    background-color: #FEADAB;
    float: left;
    margin-right:22px;
    
}
.circle_div:first-child{
    margin-left:22px;
 }

.rect_name{
    height:30px;
    width:276px;
    background: #FEADAB;
    margin-left:22px;
    margin-top:30px;
    transform: translateY(15px);
    position: relative;
    font-size: 25px;
}
.rect_date{
    height:30px;
    width:276px;
    background: #FEADAB;
    margin-top:30px;
    margin-left:22px;
    font-size: 25px;
    

}
.article_title{
    font-family : Playfair Display;
    font-weight : bold;
    font-size : 64px;
    margin:80px 0px 80px 0px;
    color : #000000;
    color : rgb(0, 0, 0);
    text-align: center;

}
.st0
{
    background : #FE8683;
    background : rgba(254, 134, 131, 1);
    position : absolute ;
    left : 78px;
    top : 4699px;
    width : 593px;
    height : 245px;
}
.st1
{
    background : #FEADAB;
    background : rgba(254, 173, 171, 1);
    position : absolute ;
    left : 145px;
    top : 4615px;
    width : 459px;
    height : 60px;
}
.st2
{
    background : #FEADAB;
    background : rgba(254, 173, 171, 1);
    position : absolute ;
    left : 145px;
    top : 4535px;
    width : 459px;
    height : 60px;
}
