* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.clear_fix {
  clear: both;
  content: "";
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFE6E5;
}

main {
  padding-top: 100px;
}

.facebook {
  background: no-repeat url("assets/Facebook.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position-x: -4px;

}

.google {
  background: no-repeat url("assets/Google.svg");
  background-size: contain;
  height: 120%;
  width: 120%;
  background-position-x: -4px;
  background-position-y: -4px;
}

.instagram {
  background: no-repeat url("assets/Instagram.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
}

.linkedin {
  background: no-repeat url("assets/Linkedin.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
}

.pinterest {
  background: no-repeat url("assets/Pinterest.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
}

.placeholder {
  background-image: url(assets/placeholder.svg);
  background-size: contain;
  display: block;

  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

section {

  width: 400px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

}

button {
  border: none;
  font-size: 36px;
  font-family: "Myriad Pro";
}

textarea {
  border: none;
  font-size: 36px;
  font-family: "Myriad Pro";
  padding: 30px;
}

input {
  border: none;
  font-size: 36px;
  font-family: "Myriad Pro";
}

nav {
  background-color: #FE8683;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  line-height: 65px;
  font-family: "Savoye LET";
  position: fixed;
  z-index: 9999;
}

.nav_icon {
  background-image: url(assets/nav_icon.svg);
  height: 40px;
  width: 40px;
  margin-top: 9px;
  margin-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  position: fixed;
  z-index: 9999;
}

.nav_extend__cont {
  display: none;
  height:auto;
  width: 200px;
  transform: translate(0px, -15px);
}
.tab:active {
  color: white;
  background: #A4D3CE;
}
.tab{
  font-size: 20px;
  font-family: "Playfair Display";
  color: black;
  background: #C2E1DE;
  border-bottom: solid #A4D3CE 2px;
}
.tab:last-child{
  border:none;
}
header {
  padding-top: 60px;

}

code {
  color: white;
  box-decoration-break: clone;
  background: darkgrey;
  width: 100%;
  font-size: 16px;

}

.code {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.circle_div {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #FEADAB;
  float: left;
  margin-right: 28px;

}

.circle_div:first-child {
  margin-left: 22px;
}

.rect_name {
  height: 30px;
  width: 160px;
  background: #FEADAB;
  margin-left: 22px;
  margin-top: 10px;
  transform: translateY(15px);
  position: relative;
  font-size: 24px;
  line-height: 1.2;
  z-index: -99;
}

.rect_date {
  height: 30px;
  width: 130px;
  background-color: #FEADAB;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 24px;
  line-height: 1.2;
}

.article_title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 54px;
  margin: 20px 0px 40px 0px;
  color: #000000;
  color: rgb(0, 0, 0);
  text-align: center;

}

.st0 {
  background: #FE8683;
  background: rgba(254, 134, 131, 1);
  margin: auto;
  width: 100%;
  height: 225px;
}

.st1 {
  background: #FEADAB;
  background: rgba(254, 173, 171, 1);
  margin: auto;
  width: 459px;
  height: 60px;
  margin-bottom: 40px;
}

.st2 {
  background: #FEADAB;
  background: rgba(254, 173, 171, 1);
  margin: auto;
  width: 459px;
  height: 60px;
  margin-bottom: 40px;
}

.para_format {
  font-size: 26px;
  font-family: "Playfair Display";
  display: block;
  margin-right: 38px;
  margin-left: 38px;

}

span {
  font-size: 134px;
  line-height: 1;
  padding-right: 26px;
  margin-bottom: 0px;
  float: left;
  font-family: "Playfair Display";
}

.quote {
  font-family: "Playfair Display";
  color: #6F76DC;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  margin:auto;
  margin-bottom:80px;
  width:50%;
  text-align: center;
}

.quote_by {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 26px;
  margin:auto;
  width:100%;
  text-align: center;
  color: black;
  margin-top:10px;
}

.comment_section {
  margin: auto;
  width: 60%;
}

.usernames {
  margin: auto;
  width: 459px;
}

.author_cont {
  margin: auto;
  width: 500px;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: #7EcFF5;
}

.author_desc {
  height: 100px;
  width: 500px;
  position: relative;
  transform: translate(0px, -75px);
  margin: 15px;
  font-size: 12px;
}

.auth_first {
  height: 20px;
  width: 60px;
  background: #49BBF1;
  margin-bottom: 10px;
  transform: translate(40px, -10px);
  font-size: 16px;
}

.auth_last {
  height: 20px;
  width: 60px;
  background: #49BBF1;
  transform: translate(20px, -10px);
  font-size: 16px;
}

.author_pic {
  height: 75px;
  width: 50px;
  background-color: #49BBF1;
  position: relative;
  top: -40px;
  left: -20px;
  z-index: 2;

}

.btn_submit {
  height: 50px;
  width: 150px;
  background: #49BBF1;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.submit_cont {
  margin: auto;
  width: 150px;
}

/* css comment section singular comment setup and formatting*/

.commenter_cont {
  height: auto;
  width: 70%;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
}

.commenter_comment {
  height: auto;
  width: 100%;
  background: #49BBF1;
  bottom: 0;
  font-size: 32px;
  font-family: "Playfair Display";
  padding: 5px 20px 5px 20px;
}

.commenter_firstname {
  text-transform: capitalize;
  height: 55px;
  width: 50%;
  background-color: #7EcFF5;
  text-align: center;
  float: left;
  line-height: 50px;
  font-size: 40px;
  font-family: "Playfair Display";

}

.commenter_lastname {
  text-transform: capitalize;
  height: 55px;
  width: 50%;
  background-color: #7EcFF5;
  text-align: center;
  float: right;
  line-height: 50px;
  font-size: 40px;
  font-family: "Playfair Display";
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
